body {
    background-color: #e4e9f7;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 140px;
}

/*--------- table ---------*/

#canvas {
    width: 650px;
    height: 650px;
    background-color: #ffffff;
    border: 5px solid #0067ac;
    border-radius: 25px;
}

/*--------- buttons ---------*/

.buttons {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

.button {
    text-align: center;
    font-size: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
    border-radius: 10px;
    border: 2px solid #004f83;
}

.button:not(:disabled):active {
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: deepskyblue;
    transition: background-color 0.6s ease;
}

.button:disabled {
    background-color: white;
    transition: none;
    cursor: not-allowed;
}

.button:not(:last-child) {
    margin-bottom: 20px;
}

.active {
    background-color: deepskyblue
}

