#canvas {
    background-color: #ffffff;
    border: 5px solid #0067ac;
    border-radius: 25px;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 60vw;
    height: 90vh;
}

.slider {
    width: 70%;
    height: 10px;
    background-color: #ddd;
}

.container-buttons {
    display: flex;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.buttonStyle {
    width: 150px;
    border-radius: 10px;
    font-family: "Open Sans", serif;
    font-size: 24px;
    background: #004f83;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.faq{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  border-color:  #1f7e7e;
  border-radius: 10px;
}


.btn-group button {
    background: #004f83; /* Green background */
    border: 3px solid black; /* Green border */
    color: white; /* White text */
    font-size: 20px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 70%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}



/* Add a background color on hover */
.btn-group button:hover {
    background-color: #21947e;
}
