body {
    background-color: #e4e9f7;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    border: 5px solid #0067ac;
    border-radius: 25px;
    left: 15%;
    top: 40px;
    position: absolute;
}

.back-canvas{
    background: url("1662996158_1-phonoteka-org-p-zemlya-tekstura-pinterest-1.png");
}

.container {
    display: flex;
    padding-right: 20px;
    height: 20vh;
    justify-content: flex-end;
    margin-right: 500px;
}

@media (max-width: 1920px) {
    .container {
        display: flex;
        padding-right: 20px;
        height: 20vh;
        justify-content: flex-end;
        margin-right: 70px;
    }
}

/*--------- buttons ---------*/

.buttons {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    margin-top: 11%;
}

.button {
    text-align: center;
    font-size: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
    border: 3px solid #004f83;
}

.button:not(:disabled):active {
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: deepskyblue;
    transition: background-color 0.6s ease;
}

.button:disabled {
    background-color: white;
    transition: none;
    cursor: not-allowed;
}

.button:not(:last-child) {
    margin-bottom: 20px;
}

.redirect {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 30px;
    right: 30px;
}

.active {
    background-color: deepskyblue
}

/*--------- slider ---------*/

.size-display {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #004f83;
}

.change-size {
    font-size: 20px;
    width: 250px;
    margin-bottom: 20px;
    background-color: white;
}

.change-size:disabled {
    cursor: not-allowed;
}

span.change-size {
    margin-top: 20px;
}

.output-result{
    display: flex;
    text-align: center;
    font-size: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
    border: 3px solid #004f83;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
